app-home {
    display: block;
}

#friends-content {
    width: 100%;
    border: none;
    height: 100%;
}

.wrapper {
    border-radius: 5px;
    margin: 20px 5% 15px 25%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    overflow: visible;
    background-image: url("../../../assets/graybg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.friend-wrapper {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4rem;
    background-color: #fff;
}

.friend-info {
    float: left;
    margin-top: 1rem;
    color: #333;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 200;
    margin-left: 2rem;
}

.friend-photo {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    float: left;
}

.friend-content {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    display: block;
    background-image: linear-gradient(to right, #dfdfdf, rgba(240, 240, 240, 0.0));
    padding: 5px;
    overflow: visible;
}

.friend-occupation {
    color: #555;
    font-size: 0.8rem;
    text-align: left;
    margin-left: 2rem;
}

.button {
    background-color: #999;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 5rem;
    margin-left: calc(50% - 2.5rem - 10px);
    margin-right: calc(50% - 2.5rem - 10px);
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-family: 'Roboto';
}

.button:hover {
    background-color: rgba(180, 180, 180, 0.7);
}

#first-content {
    display: none;
}

#text-input {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.addFriend-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto';
    color: #444;
    padding-top: 10px;
    display: block;
    font-weight: 200;
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.addFriend-link:hover {
    color: rgb(74, 138, 223);
}

.not-shaking {
    animation: none;
    transform: initial;
    perspective: 0px;
    backface-visibility: initial;
}

.shaking {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}